<div class="container img-thumbnail" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-4">
            <h4>My Account</h4>
        </div>

    </div>
	<div class="row">
		<div class="col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-4">
            <img src="/assets/img/noimg.png" alt="" style="width: 150px;" class="img-rounded">
        </div>
        <div class="col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-4">
             <b>Name: </b>{{details.fname + ' '+ details.lname}}<br><br>
           <b> Email: </b> {{myUser.email}}
            <hr>
                ***************************************************
            <hr>
            <h6> Bonus Points: <span class="badge">126</span></h6>
        
        </div>
        <div class="col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-4">
            <button class="btn btn-danger">Log Out</button>
        
        </div>
	</div>
</div>
