<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container-fluid">
      <!-- row -->
      <div class="row">
  
        <!-- section title -->
        <div class="col-md-12">
            <hr>
            <div class="section-title" *ngIf="products.length < 1">
              <h3 style="text-align: center;">No "{{prod}}" Related Products Found {{products.length}}</h3>
              <h4 style="text-align: center;color: red;">{{products.length}} Result Found</h4>
            </div>
          <div class="section-title" *ngIf="products.length > 0">
            <h3 style="text-align: center;">Products Related to "{{prod}}"</h3>
            <h4 style="text-align: center;color: green;">{{products.length}} Results Found</h4>
          </div>
          
          <hr>
        </div>
      </div>

        <!-- /section title -->
  
        <!-- Products tab & slick -->
        
        <div class="col-md-12">
          <h4>Select category you are looking for here</h4>
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let sc of subCategories.sub_categories">
                <div class="my-2">
                  <a routerLink="/product-search/{{prod}}/{{sc.name}}"><span style="color:#24ADF3">{{sc.name}}</span> (212)</a>
                </div>
              </div>
            </div>
            </div>
            <hr>
    
        <br>
        <div class="row">
          <div class="col-md-2">
            <h3>Result : {{products.length}}</h3>
          </div>
          <div class="col-md-3">
            <h5><input type="checkbox" name="smartFilter" value="smart" class="btn btn-primary" checked>
            <label for="Smart"> Smart Filtering</label></h5>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" onkeyup="filterTable()" name=" filter_field" id="search-input" placeholder="Filter within Results">
          </div>
        </div>
        
       <div class="row">
           <div class="col-md-12" *ngIf="products.length > 0">
            <br>
            <table class="table table-bordered table-responsive" id="table-products">
                <thead class="thead-dark">
                    <tr>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Availability</th>
                        <th>Mfr.Part</th>
                        <th>Manufacturer</th>
                        <th>Description</th>
                        <th>Action</th>
                        <th>Part</th>
                        <th>Package</th>
                        <th>Packaging</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let p of products">
                        <td>
                            <img [src]="p.image" alt="{{p.name}}" class="card-img-top" style="cursor: pointer;width:100px;">
                        </td>
                        <td>{{p.price}}</td>
                        <td>{{p.quantity}}</td>
                        <td>N/A</td>
                        <td>Ekas Tech</td>
                        <td><a routerLink="/product/{{p.id}}">{{p.description}}</a></td>
                        <td>
                          <a routerLink="/product/{{p.id}}"> <button type="button" class="btn btn-outline-primary btn-sm">Add</button></a>
                         </td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>Bag-packed</td>
                    </tr>
                </tbody>

            </table>
           </div>

       </div>  
</div>
    <!-- /container -->
    
  
